<div class="top-bar-div">
    <div class="left-search-menu">
        <button md-icon-button><md-icon svgIcon="search"></md-icon></button>
    </div>
    <md-input-container class="search-container">
        <input mdInput class="search-text" placeholder="Search" (keyup)="onChange($event)">
    </md-input-container>
    <div class="search-chip">
        <md-chip-list>
            <md-chip>{{employees == null ? 0 : employees.length}}</md-chip>
        </md-chip-list>
    </div>
    <div class="right-search-menu">
        <button md-icon-button (click)="delete()" *ngIf="isEdited"><md-icon svgIcon="delete"></md-icon></button>
        <button md-icon-button (click)="sortEmployee()" *ngIf="sortDir == 'asc'"><md-icon svgIcon="sort-desc"></md-icon></button>
        <button md-icon-button (click)="sortEmployee()" *ngIf="sortDir == 'desc'"><md-icon svgIcon="sort-asc"></md-icon></button>
        <button md-icon-button (click)="filter()" [ngClass]="{'active':active}"><md-icon svgIcon="filter"></md-icon></button>
    </div>
</div>
<div class="scroll-bar-div">
    <div *ngIf="!isShow">
        <employee-item *ngFor="let e of employees" [employee]="e" (click)=onClick(e) [selectedEmployee]="selectedEmployee"></employee-item>
    </div>
    <div *ngIf="isShow" class="not-found">
        We couldn't find what you're looking for
    </div>
</div>