<div class="top-bar-div">
    <div class="left-search-menu">
        <button md-icon-button><md-icon svgIcon="search"></md-icon></button>
    </div>
    <md-input-container>
        <input mdInput class="search-text" placeholder="Search" value="" >
    </md-input-container>
    <div class="search-chip">
        <md-chip-list>
            <md-chip>999999</md-chip>
        </md-chip-list>
    </div>
    <div class="right-search-menu">
        <button md-icon-button><md-icon svgIcon="delete"></md-icon></button>
        <button md-icon-button><md-icon svgIcon="sort"></md-icon></button>
        <button md-icon-button><md-icon svgIcon="filter"></md-icon></button>
    </div>
</div>
<div class="scroll-bar-div">
  <div class="emp-card" *ngFor="let employee of employees">
    <!--<md-card *ngFor="let employee of employees">-->
    <img class="img-card" src="src/resources/images/no-image.png">
    <div class="card-left">
      <a class="emp-name">{{employee.firstName}} {{employee.lastName}}</a><br>
      <a class="emp-info">{{employee.grade}}, {{employee.division}}<br>
                            {{employee.location.city}}, {{employee.phone}}</a>
    </div>
    <div class="card-right">
      <a class="emp-info">{{employee.hiredDate | date:'dd-MM-y'}}</a><br>
      <div class="card-right-icon">
        <md-icon svgIcon="radio_button_checked"></md-icon>
        <md-icon svgIcon="chevron_right"></md-icon>
      </div>
    </div>
    <!--</md-card>-->
  </div>
</div>
<button md-fab class="floating-button"><md-icon svgIcon="add"></md-icon></button>