.top-bar-div {
    box-sizing: border-box;
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0px;   
    left: 0px;
    background-color: #34a0ed;
    color: white;
}

.search-text {
    width: 125px;
}

.left-search-menu {
    float: left;
    padding: 5px 0px 0px 0px;
}

.right-search-menu {
    float: right;
    padding: 5px 0px 0px 0px;
}

.search-chip {
    float: right;
    padding: 9px 0px 0px 0px;
}