#navigation {
  position: fixed;
  z-index: 10;
  background-color: #0072C6;
}

#content {
  padding-top: 64px;
}

#list, #detail {
  overflow-y: auto;
}

#addBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
}