.fill-remaining-space {
  flex: 1 1 auto;
}

.top-div {
    box-sizing: border-box;
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: #3f51b5;
    top: 0px;
    left: 0px;
    right: auto;
    padding: 10px;
    color: white;
}

.top-div span {
    float: left;
}

.top-div-right {
    float: right;
}

.left-div {
    position: absolute;
    width: 375px;
    height: auto;
    top: 60px;   
    left: 0px;
    bottom: 0px;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0px 1px 0px 0px;
}

.right-div {
    min-width: 480px;
    position: absolute;
    width: auto;
    height: auto;
    top: 60px;
    left: 375px;
    right: 0px; /*delete this if no scroll bar*/
    bottom: 0px;
    background-color: #ffffff
}

.menu-button {
    float: left;
}

.user-img {
    float:left;
    border-radius: 100%;
}

.user-title {
    padding: 0px 0px 0px 10px;
}

.top-bar-div {
    box-sizing: border-box;
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0px;   
    left: 0px;
    padding: 1px 0px 0px 2px;
    background-color: #5c6bc0;
}

/deep/ .mat-ink-bar{
    background-color: #e91e63;
}

.nav-bar-icon {
    padding: 5px 0px 0px 0px;
}

.content {
    height: 100%;
    overflow: auto;
}

.tab {
    overflow: auto;
}