<md-toolbar id="navigation" class="mat-elevation-z4" color="primary">
  <span>Employee App</span>
</md-toolbar>

<div id="content" fxLayout="row">
  <div id="list" fxFlex="25%">
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
  </div>

  <div id="detail" fxFlex="75%">
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
  </div>
</div>