<div class="top-bar-div">
    <md-tab-group>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="person" class="nav-bar-icon"></md-icon>
            </ng-template>
            <!--<detail-employee></detail-employee>-->
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="restore" class="nav-bar-icon"></md-icon>
            </ng-template>
            <h1>Under Construction</h1>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="layers" class="nav-bar-icon"></md-icon>
            </ng-template>
            <h1>Under Construction</h1>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="people" class="nav-bar-icon"></md-icon>
            </ng-template>
            <h1>Under Construction</h1>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="home" class="nav-bar-icon"></md-icon>
            </ng-template>
            <h1>Under Construction</h1>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="location" class="nav-bar-icon"></md-icon>
            </ng-template>
            <h1>Under Construction</h1>
        </md-tab>
    </md-tab-group>
</div>