.content{
    padding-top: 5px;
    width: 100%;
}

md-select, md-checkbox{
    margin-top: 10px;
    height: 40px;    
}

.header, .footer, .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ok-btn {
    background-color: #e91e63;
    color: #ffffff;
}

.cancel-btn {
    margin-right: 20px;
}