<h1 md-dialog-title class="header">Employee Filter</h1>
<div md-dialog-content class="content">
    <md-checkbox (click)="onGenderClick()" [(ngModel)]="genderDisabled"></md-checkbox>
    <md-select placeholder="Gender" name="genderSelect" [disabled]="!genderDisabled" [(ngModel)]="tempGender" (change)="onGenderChange($event)">
        <md-option *ngFor="let gender of genderArr" [value]="gender">
            {{gender}}
        </md-option>
    </md-select>
</div>
<div md-dialog-content class="content">
    <md-checkbox (click)="onLocationClick()" [(ngModel)]="locationDisabled"></md-checkbox>
    <md-select placeholder="Location" name="location" [disabled]="!locationDisabled" [(ngModel)]="tempLocation"  (change)="onLocationChange($event)">
        <md-option *ngFor="let location of locations" [value]="location.id">
            {{location.city}}
        </md-option>
    </md-select>
</div>
<div md-dialog-actions class="footer">
    <button md-button (click)="dialogRef.close({action:'filter',locValue:location,genderValue:gender})">Filter</button>
    <button md-button (click)="dialogRef.close({action:'cancel'})">Cancel</button>
</div>