<h1 md-dialog-title class="header">Filter Employee</h1>
<div md-dialog-content class="content">
    <md-checkbox (click)="onGenderClick()" [(ngModel)]="genderIsEnabled"></md-checkbox>
    <md-select placeholder="Gender" name="genderSelect" [disabled]="!genderIsEnabled" [(ngModel)]="tempGender" (change)="onGenderChange($event)">
        <md-option *ngFor="let gender of genderArr" [value]="gender">
            {{gender}}
        </md-option>
    </md-select>
</div>
<div md-dialog-content class="content">
    <md-checkbox (click)="onLocationClick()" [(ngModel)]="locationIsEnabled"></md-checkbox>
    <md-select placeholder="Location" name="location" [disabled]="!locationIsEnabled" [(ngModel)]="tempLocation"  (change)="onLocationChange($event)">
        <md-option *ngFor="let location of locations" [value]="location.id">
            {{location.city}}
        </md-option>
    </md-select>
</div>
<div md-dialog-actions class="footer">
    <button md-raised-button  class="cancel-btn" (click)="dialogRef.close({action:'cancel'})">CANCEL</button>
    <button md-raised-button class="ok-btn" (click)="dialogRef.close({action:'filter',locValue:location,genderValue:gender})">FILTER</button>
</div>