.content-bar-div {
    box-sizing: border-box;
    /*position: absolute;*/
    height: 100%;
    widows: auto;
    /*width: 100%;*/
    padding: 5px;
    /*top: 50px;*/
    bottom: 0;
    overflow: hidden;
}

.select-message{
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer{
  margin-top: 20px;
  position: static;
  background-color: #5c6bc0;
  width: 99%;
  height: 43px;
  bottom: 0;
  margin-bottom: 0px;
}

.img-card{
  float: right;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

md-card {
  min-height: calc(100% - 64px);
  margin: 10px;
  margin-left: 0;
}

md-input-container, md2-datepicker {
  width: 95%;
  margin-bottom: 13px;
}

.cancel-btn, .save-btn{
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.save-btn {
  background-color: #e91e63;
}

md-select {
  width: 95%;
  margin-bottom: 15px;
}

md2-datepicker {
  margin-top: -15px;
}

input {
  max-height: 18px;
}

button {
  float: right;
}