<div *ngIf="!isShow" class="select-message">
    <h2>Please select employee or add new one</h2>
</div>
<div *ngIf="isShow" class="form-body">

    <form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-group">

        <div class=left-form>
            <input type="hidden" name="empId" id="empId" formControlName="empId">

            <md-input-container>
                <input name="firstName" id="firstName" mdInput placeholder="First Name" formControlName="firstName">
            </md-input-container>

            <md-input-container>
                <input name="lastName" id="lastName" mdInput placeholder="Last Name" formControlName="lastName">
            </md-input-container>

            <md-select class="select-option" name="gender" id="gender" placeholder="Gender" formControlName="gender">
                <md-option *ngFor="let g of genderArr" [value]="g">{{ g }}</md-option>
            </md-select>

            <md2-datepicker class="date-picker" name="dateOfBirth" id="dateOfBirth" openOnFocus="true" type="date" placeholder="Date of Birth" formControlName="dateOfBirth"></md2-datepicker>

            <md-input-container>
                <input name="nationality" id="nationality" mdInput placeholder="Nationality" formControlName="nationality">
            </md-input-container>

            <md-select class="select-option" name="maritalStatus" id="maritalStatus" placeholder="Marital Status" formControlName="maritalStatus">
                <md-option *ngFor="let m of maritalArr" [value]="m">{{ m }}</md-option>
            </md-select>

            <md-input-container>
                <input name="phone" id="phone" mdInput type="tel" placeholder="Phone" formControlName="phone">
            </md-input-container>

            <md-select class="select-option" name="location" id="location" placeholder="Location" formControlName="location">
                <md-option *ngFor="let l of locations" [value]="l.id" (click)="onChange(l)">{{ l.city }}</md-option>
            </md-select>
        </div>

        <div class=right-form>
            <md-input-container>
                <input name="subDivision" id="subDivision" mdInput placeholder="Sub Division" formControlName="subDivision">
            </md-input-container>

            <md-input-container>
                <input name="status" id="status" mdInput placeholder="Status" formControlName="status">
            </md-input-container>

            <md2-datepicker class="date-picker" name="suspendDate" id="suspendDate" openOnFocus="true" type="date" placeholder="Suspend Date" formControlName="suspendDate"></md2-datepicker>

            <md2-datepicker class="date-picker" name="hiredDate" id="hiredDate" openOnFocus="true" type="date" placeholder="Hired Date" formControlName="hiredDate"></md2-datepicker>

            <md-select class="select-option" name="grade" id="grade" placeholder="Grade" formControlName="grade">
                <md-option *ngFor="let r of gradeArr" [value]="r">{{ r }}</md-option>
            </md-select>

            <md-select class="select-option" name="division" id="division" placeholder="Division" formControlName="division">
                <md-option *ngFor="let d of divisionArr" [value]="d">{{ d }}</md-option>
            </md-select>

            <md-input-container>
                <input name="email" id="email" mdInput type="email" placeholder="E-mail" formControlName="email">
            </md-input-container>

        </div>
        <div class="form-img">
            <img class="img-card" [src]="empPhoto | safeUrl" (click)="fileInput.click()" />
            <input name="photo" id="photo" class="file-chooser" #fileInput type="file" hidden="hidden" accept="image/*" (change)="chooseImage($event)" />
        </div>
        <div class="footer">
            <button md-raised-button class="save-btn" type="submit" [disabled]="!form.valid" color="primary">SAVE</button>
            <button md-raised-button class="cancel-btn" type="button" (click)="cancel()">CANCEL</button>
        </div>
    </form>
</div>