.content-bar-div {
    box-sizing: border-box;
    /*position: absolute;*/
    height: auto;
    widows: auto;
    /*width: 100%;*/
    padding: 10px;
    /*top: 50px;*/
}

md-card {
  min-height: calc(100% - 64px);
  margin: 10px;
  margin-left: 0;
}

md-input-container, md-select {
  width: 95%;
  margin-bottom: 20px;
}

input {
  max-height: 18px;
}

button {
  float: right;
}