.form-group, .select-message{
    background-color: #ffffff
}

#grade {
  margin-bottom: 20px;
}

.form-body, .select-message {
    box-sizing: border-box;
    height: auto;
    width: auto;
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px 0px 0px 0px;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 60px;
}

.left-form {
    top: 5px;
    left: 20px;
    width: 400px;
    float: left;
    margin-left: 20px;
}

.right-form {
    top: 5px;
    left: 400px;
    width: 400px;
    float: left;
    margin-left: 20px;
}

.form-img {
    padding-left: 20px;
    float: left;
    top: 20px;
    right: 20px;
}

.select-message{
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: 100%;
}

.footer{
  position: fixed;
  height: 46px;
  left: 375px;
  bottom: 0px;
  width: calc(100% - 375px);
  min-width: 340px;
  background-color: #5c6bc0;
}

.img-card{
  float: right;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

md-card {
  min-height: calc(100% - 64px);
  margin: 10px;
  margin-left: 0;
}

md-input-container {
  width: 100%;
}

.date-picker {
  margin-top: -9px;
  margin-bottom: 13px;
  width: 100%;
}

.select-option {
  width: 100%;
  margin-top: 9px;
  margin-bottom: 17px;
}


/deep/ .date-picker .md2-datepicker-trigger .md2-datepicker-input .md2-datepicker-arrow {
    display:none;
}

.cancel-btn, .save-btn{
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.save-btn {
  background-color: #e91e63;
}

input {
  max-height: 18px;
}

button {
  float: right;
}